.root {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  background: rgba(255,255,255,0.1);
  border-bottom: 0.1px solid #567c4e;
  font-size: 30px;
  font-weight: 800;
  color: #567c4e;
  backdrop-filter: blur(15px);
}

.linksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  text-transform: uppercase;
  color: #567c4e;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 30px;
}

.container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkText {

  margin-left: 10px;
}