.root {
    width: 1024px;
}

.describe {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
    color: #727272;
    text-align: justify;
}

.image {
    margin-right: 30px;
}

.imageMargin {
    margin-left: 30px;
    margin-right: 0;
}

.image img {
    box-shadow: 0 0 20px rgb(218, 156, 37);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.containerBottomMargin {
    margin-bottom: 50px;
}

.title {
    text-align: right;
    font-size: 24px;
    font-weight: 800;
    color: #727272;
}

.leftTitle {
    font-size: 24px;
    font-weight: 800;
    color: #567c4e;
}


@media only screen and (max-width: 600px) {
    .root {
        width: 100%;
    }

    .container {
        flex-direction: column;
    }

    .title {
        text-align: center;
    }

    .image {
        margin-right: 0;
    }

    .imageMargin {
        margin: 50px 0 0 0;
    }
}
